.message-input-container {
  display: flex;
  padding: 15px;
  border-top: 1px solid #ddd;
  background-color: rgb(112, 113, 109);
  align-items: center;
}

.message-input-container textarea {
  flex: 1;
  padding: 10px 14px;
  border-radius: 15px;
  border: 1px solid #ccc;
  outline: none;
  resize: none;              /* prevent manual resizing */
  min-height: 10px;
  max-height: 80px;
  overflow-y: auto;
  font-family: inherit;
}

.message-input-container button {
  margin-left: 10px;
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  background-color: #1c2533;
  color: white;
  cursor: pointer;
}