body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.chat-container {
  display: flex;
  height: 100vh;
  background-color: #4d5b6f;
}

.chat-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #1a1826;
}

.no-chat {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: gray;
}